body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url('./images/gamebackground.jpg');
  background-size: cover;
  opacity: 0.95;
}

.splash-container {
  color: rgba(110, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
}

.splash-title {
  font-family: 'Bangers', cursive;
  font-size: 8rem;
}

.btngame {
  font-size: 2rem;
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #333;
  margin: 0.5rem;
}

.btngame:hover,
.btngame:focus {
  background-color: hsl(30, 100%, 40%);
}

#gameScreen {
  display: none;
}

#gameContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.player-container{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
  color: red;
}

.room-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.room-container img{
  width: 100%;
  height: 100%;
}

.grid-board {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
  flex-wrap: wrap;
}

.block {
  
  width: 4.6vmin;
  height: 4.6vmin;
  border: 1px solid hsla(0, 0%, 100%, .2);
  box-sizing: border-box;
  overflow: hidden;
}

#enemy>.taken,
#enemy>.boom {
  background-color: hsl(200, 100%, 50%) !important;
  border-radius: 0 !important;
}

.ship-display {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.taken,
.ship {
  position: relative;
  background-color: hsl(0, 0%, 80%);
}

.ship>div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}

.destroyer-ship {
  /* background-image: url('./images/Cruiser.png');
  background-size: cover; */
  --width: 2;
}

.submarine-ship,
.cruiser-ship {
  --width: 3;
}


.battleship-ship {
  --width: 4;
}

.carrier-ship {
  --width: 5;
}


.taken.start.vertical,
.taken.start.vertical::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.end.vertical,
.taken.end.vertical::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.start.horizontal,
.taken.start.horizontal::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.taken.end.horizontal,
.taken.end.horizontal::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.vertical::before,
.taken.horizontal::before {
  content: '';
  position: absolute;
  border: .3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.taken.horizontal::before {
  animation: ripplesY 3s linear infinite;
  border-left: none;
  border-right: none;
}

.taken.vertical::before {
  animation: ripplesX 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

@keyframes ripplesX {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.5);
  }
}

@keyframes ripplesY {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(1.5);
  }
}

.game-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.miss::before {
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: auto;
  height: auto;
}

.boom {
  animation: boom .2s ease-out forwards;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes boom {
  0% {
    background-color: red;
  }

  100% {
    background-color: hsl(0, 0%, 80%);
  }
}

input[type="text"] {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 2rem;
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="text"]:hover {
  border-color: #555;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder {
  color: #999;
}

label {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333;
}

.connected,
.ready {
  font-weight: normal;
  opacity: .25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}