<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/images/battleship-logo.avif" alt="IMG">
				</div>

				<form id="loginForm" class="login100-form validate-form">
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<div class="text-center p-t-136">
						<a class="txt2" href="/register">
							Create your Account
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
  <div id="popup" class="popup" >
    <div class="popup-content">
      <div class="imgbox">
        <img src="" alt="" class="img">
      </div>
      <span class="close" onclick="closePopup()">&times;</span>
      <p id="popupMessage"></p>
    </div>
  </div>
  <script>
    const loginForm = document.getElementById('loginForm');

    loginForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const username = loginForm.username.value;
      const password = loginForm.pass.value;

      const data = { username, password };

      fetch('/user/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(result => {
          if (result.success) {
            showPopup(result.message)
            window.location.href = window.location.protocol + "/"
          } else {
            showPopup(result.message)
          }
        })
        .catch(error => {
          console.error(error);
        });
    });


    function showPopup(message, success) {
      const popup = document.getElementById('popup');
      const popupMessage = document.getElementById('popupMessage');
      popupMessage.textContent = message;
      popup.style.display = 'block';
    }

    // Function to close the popup
    function closePopup() {
      const popup = document.getElementById('popup');
      popup.style.display = 'none';
    }
  </script>
</body>

</html>